*********************************************************************************
*                                                                               *
* DRILL TAPE SUMMARY REPORT                                                     *
*                                                                               *
* E:\EUROBOT 2010\ELECTRONICA\BALIZA FARO\DISENIO ELECTRONICO\MAIN\DESIGN1.MAX  *
* Wed Oct 15 23:58:05 2014                                                      *
*                                                                               *
*********************************************************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       24       80       200      100                                                                                 
T2       34       11       200      100                                                                                 
T3       37       6        200      100                                                                                 
T4       43       22       200      100                                                                                 
T5       59       5        200      100                                                                                 
T6       130      5        200      100                                                                                 
